<%= form_for(@wxyzer) do |f| %>
  <% if @wxyzer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wxyzer.errors.count, "error") %> prohibited this wxyzer from being saved:</h2>

      <ul>
      <% @wxyzer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :site %><br />
    <%= f.text_field :site %>
  </div>
  <div class="field">
    <%= f.label :inquiry %><br />
    <%= f.text_area :inquiry, :size => '28x4' %>
  </div>
  <div class="actions">
    <%= image_submit_tag 'green_submit.png', :id => 'green_submit' %>
  </div>
<% end %>
