<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @wxyzer.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @wxyzer.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @wxyzer.email %>
</p>

<p>
  <b>Site:</b>
  <%= @wxyzer.site %>
</p>

<p>
  <b>Inquiry:</b>
  <%= @wxyzer.inquiry %>
</p>


<%= link_to 'Edit', edit_wxyzer_path(@wxyzer) %> |
<%= link_to 'Back', wxyzers_path %>
