<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal heading" href="<%= group_path(:group => 'necklace') %>">
    NECKLACES
  </div>
<% end %>
<%= link_to group_path(:group => 'ring') do %>
  <div class="collection portal">
    <%= image_tag 'RING.jpg' %>
  </div>
<% end %>
<%= link_to group_path(:group => 'bracelet') do %>
  <div class="collection portal heading" href="<%= group_path(:group => 'bracelet') %>">
    BRACELETS
  </div>
<% end %>
<%= cleardiv %>
<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal" href="<%= group_path(:group => 'necklace') %>">
    <%= image_tag 'NECKLACES.jpg' %>
  </div>
<% end %>
<%= link_to group_path(:group => 'ring') do %>
  <div class="collection portal heading" href="<%= group_path(:group => 'ring') %>">
    RINGS
  </div>
<% end %>
<%= link_to group_path(:group => 'bracelet') do %>
  <div class="collection portal" href="<%= group_path(:group => 'bracelet') %>">
    <%= image_tag 'BRACELETS.jpg' %>
  </div>
<% end %>
<%= cleardiv %>