<div class="collection portal heading" href="<%= group_path(:group => 'necklace') %>">
  NECKLACES
</div>
<div class="collection portal" href="<%= group_path(:group => 'necklace') %>">
  <%= image_tag 'necklace.jpg' %>
</div>
<div class="collection portal heading" href="<%= group_path(:group => 'bracelet') %>">
  BRACELETS
</div>
<%= cleardiv %>
<div class="collection portal" href="<%= group_path(:group => 'necklace') %>">
  <%= image_tag 'necklace.jpg' %>
</div>
<div class="collection portal heading" href="<%= group_path(:group => 'ring') %>">
  (EAR)RINGS
</div>
<div class="collection portal" href="<%= group_path(:group => 'necklace') %>">
  <%= image_tag 'necklace.jpg' %>
</div>
<%= cleardiv%>