<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal heading" href="<%= group_path(:group => 'necklace') %>">
    NECKLACES
  </div>
<% end %>
<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal">
    <%= image_tag 'necklace.jpg' %>
  </div>
<% end %>
<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal heading" href="<%= group_path(:group => 'bracelet') %>">
    BRACELETS
  </div>
<% end %>
<%= cleardiv %>
<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal" href="<%= group_path(:group => 'necklace') %>">
    <%= image_tag 'necklace.jpg' %>
  </div>
<% end %>
<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal heading" href="<%= group_path(:group => 'ring') %>">
    (EAR)RINGS
  </div>
<% end %>
<%= link_to group_path(:group => 'necklace') do %>
  <div class="collection portal" href="<%= group_path(:group => 'necklace') %>">
    <%= image_tag 'necklace.jpg' %>
  </div>
<% end %>
<%= cleardiv %>