<div id="lookbook">
  <%= link_to_function image_tag('back_arrow.png'), "show_previous_image()", :class => 'movement' %>
  <%= image_tag 'LOOKBOOK.jpg', :class => 'lookbook shown' %>
  <%= image_tag 'LOOKBOOK2.jpg', :class => 'lookbook 2 veiled faded' %>
  <%= image_tag 'LOOKBOOK3.jpg', :class => 'lookbook 3 veiled faded' %>
  <%= image_tag 'LOOKBOOK4.jpg', :class => 'lookbook 4 veiled faded' %>
  <%= image_tag 'LOOKBOOK5.jpg', :class => 'lookbook 5 veiled faded' %>
  <%= image_tag 'LOOKBOOK6.jpg', :class => 'lookbook 6 veiled faded' %>
  <%= image_tag 'LOOKBOOK7.jpg', :class => 'lookbook 7 veiled faded' %>
  <%= image_tag 'LOOKBOOK8.jpg', :class => 'lookbook 8 veiled faded' %>
  <%= image_tag 'LOOKBOOK9.jpg', :class => 'lookbook 9 veiled faded' %>
  <%= link_to_function image_tag('arrow.png'), "show_next_image()", :class => 'movement' %>
</div>