<div id="lookbook">
  <%= link_to_function image_tag('back_arrow.png'), "show_previous_image()", :class => 'movement' %>
  <%= link_to_function content_tag(:div, nil, :class => 'box'), "show_previous_image()", :class => 'half_nav' %>
  <%= link_to_function content_tag(:div, nil, :class => 'box', :id => 'forward'), "show_next_image()", :class => 'half_nav' %>
  <%= image_tag 'LOOKBOOK.jpg', :class => 'lookbook shown' %>
  <%= image_tag 'LOOKBOOK2.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK3.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK4.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK5.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK6.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK7.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK8.jpg', :class => 'lookbook veiled faded' %>
  <%= image_tag 'LOOKBOOK9.jpg', :class => 'lookbook veiled faded' %>
  <%= link_to_function image_tag('arrow.png'), "show_next_image()", :class => 'movement' %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(function() {
      $('#lookbook').ScrollTo({duration: 2500});
    });
  </script>
<% end %>