<!DOCTYPE html>
<html>
<head>
  <title>WXYZ</title>
  <%= stylesheet_link_tag    "application", "jquery.fancybox", 'jquery.fancybox-buttons', 'jquery.fancybox-thumbs', :media => "all" %>
  <%= javascript_include_tag "application", "jquery.fancybox", "jquery.fancybox-buttons", 'jquery.fancybox-thumbs' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= nav %>

  <div id="container">
    <%= yield %>
  </div>

  <%= footer %>
</body>
</html>
